[submodule "concurrency"]
	path = concurrency
	url = git@github.com:StrongAI/claude-skills-programming-concurrency.git
[submodule "cpp"]
	path = cpp
	url = git@github.com:StrongAI/claude-skills-programming-cpp.git
[submodule "decompiling"]
	path = decompiling
	url = git@github.com:StrongAI/claude-skills-programming-decompiling.git
[submodule "dispatching-programmers"]
	path = dispatching-programmers
	url = git@github.com:StrongAI/claude-skills-programming-dispatching-programmers.git
[submodule "postgres"]
	path = postgres
	url = git@github.com:StrongAI/claude-skills-programming-postgres.git
[submodule "swift"]
	path = swift
	url = git@github.com:StrongAI/claude-skills-programming-swift.git
[submodule "swift-ui"]
	path = swift-ui
	url = git@github.com:StrongAI/claude-skills-programming-swift-ui.git
[submodule "typescript"]
	path = typescript
	url = git@github.com:StrongAI/claude-skills-programming-typescript.git
[submodule "wrapping-up"]
	path = wrapping-up
	url = git@github.com:StrongAI/claude-skills-programming-wrapping-up.git
[submodule "swift-tdd"]
	path = swift-tdd
	url = git@github.com:StrongAI/claude-skills-programming-swift-tdd.git
[submodule "auditing"]
	path = auditing
	url = git@github.com:StrongAI/claude-skills-programming-auditing.git
[submodule "implementing"]
	path = implementing
	url = git@github.com:StrongAI/claude-skills-programming-implementing.git
[submodule "solving-bugs"]
	path = solving-bugs
	url = git@github.com:StrongAI/claude-skills-programming-solving-bugs.git
